*{
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}
ul,li,ol{
    list-style: none;
}
a{
    color:black;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: red;
}
.container{
    /* border: #ccc 1px solid; */
    width: 80%;
    float: left;
}