* {
	margin: 0 auto;
}

#list {
	height: 300px;
	width: 800px;
	margin-top: 20px;
	overflow: hidden;
}

li {
	float: left;
	list-style-type: none;
	position: relative;
	left: 0px;
}

img {
	width: 800px;
	height: 300px;
	float: left;
}

#btn {
	position: absolute;
	top: 290px;
	left: 40%;
}

span {
	cursor: pointer;
	float: left;
	margin-left: 30px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: #ccc;
}

.on {
	background: red;
}