<div class="container">
  <div class="left">
    <img src="assets/images/头像.jpeg" alt="头像">
    <p>X班-XX</p>
    <ul id="fg">
      <li>0<br>粉丝</li>
      <li>4<br>关注</li>
    </ul>
    <ul class="down">
      <li><a [routerLink]="['./ltask']">任务<span>></span></a></li>
      <li><a [routerLink]="['./ltb']">同步课<span>></span></a></li>
      <li><a [routerLink]="['./lcourse']">课程<span>></span></a></li>
      <li><a [routerLink]='["./ltalk"]'>且说<span>></span></a></li>
      <li><a [routerLink]="['./ltz']">通知<span>></span></a></li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

