<div class="container">
    <div class="list">
      <ul>
        <li><a [routerLink]="['']" id="now">@我的</a></li>
        <li><a [routerLink]="['']">收到的赞</a></li>
        <li><a [routerLink]="['']">评论</a></li>
      </ul>
    </div>
    <div class="down">
      <ul>
        <li>
          <img src="assets/images/头像.jpeg" alt="">
          <p>XX</p>
          <p><a [routerLink]="['']" id="now">@全体成员</a>  下次上课需要带电脑到教室，请同学们互相转告哈</p>
          <div class="un">
            <span>2016-10-20 15:31</span>
            <div class="as">
              <a [routerLink]="['']">收藏</a>
              <a [routerLink]="['']">转发</a>
              <a [routerLink]="['']">评论</a>
              <a [routerLink]="['']">赞</a>
            </div>
          </div>
        </li>
        <li>
          <img src="assets/images/头像.jpeg" alt="">
          <p>XX</p>
          <p><a [routerLink]="['']" id="now">@全体成员</a>  请同学们修改昵称为“班级-姓名”的格式，如“5班-张三”</p>
          <div class="un">
            <span>2016-10-20 15:31</span>
            <div class="as">
              <a [routerLink]="['']">收藏</a>
              <a [routerLink]="['']">转发</a>
              <a [routerLink]="['']">评论</a>
              <a [routerLink]="['']">赞</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>